<section class="admin-dashboard">

  <div class="panel panel-default products">

    <table class="table table-bordered">

    <h1>Admin Dashboard</h1>

      <thead>
        <tr>
          <th colspan="2">Total product quantity</th>
              <td><%= @products_count %></td>

          <th>Number of categories</th>
              <td><%= @categories_count%></td>

        </tr>
      </thead>
  
    </table>

  </div>

</section>
